@import url(font-awesome.min.css);
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,800,800italic");
@font-face {
    font-family: "DIN";
    src: url("../user_fonts/FF_DIN_Black.otf");
}

@font-face {
    font-family: "DIN Italic";
    src: url("../user_fonts/FF_DIN_Black_Italic.otf");
}

@font-face {
    font-family: "DIN Condensed";
    src: url("../user_fonts/FF_DIN_Condensed_Black.otf");
}

@font-face {
    font-family: "DIN Light";
    src: url("../user_fonts/FF_DIN_Light.otf");
}

@font-face {
    font-family: "DIN Regular";
    src: url("../user_fonts/FF_DIN_Regular.otf");
}

html,
body {
    margin: 0px;
    padding: 0px;
    width: 100vw;
    font-family: 'DIN Regular', sans-serif;
    display: inline-block;
    background-image: url("../../images/launch/launch_background_short.png");
    background-size: cover;
    max-width: 100vw;
    overflow-x: hidden;
}


/* to see div outlines */


/* div {
    outline: 1px solid red;
} */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: "DIN", sans-serif;
    color: white;
}


/* LANDING PAGE CSS */

.landing-page {
    background-image: url("../../images/pic01.jpg");
    max-width: 100%;
    max-height: 100%;
    z-index: 1;
}

.landing-page-img {
    background-image: url("../../images/launch/background_long.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    /* color: #c8ece9; */
    max-width: 100%;
    max-height: 100%;
    z-index: 1;
    /* background-attachment: fixed; */
}

.landing-text {
    font-size: 10px;
    color: white;
}

.logo-img {
    padding: 5%;
}

.logo-img img {
    height: auto;
    width: 20%;
}

.blob-img {
    position: absolute;
    float: left;
    left: 10%;
    bottom: 5%;
    z-index: 2;
    width: 20%;
    font-family: "DIN", sans-serif;
}

.blob-img:hover img {
    opacity: 0;
    transition: all ease 0.8s;
}

.blob-img img {
    width: 100%;
    z-index: 5;
    position: relative;
    /* top: -100px;
    right: 80px; */
}

.text {
    width: 30%;
    position: absolute;
    left: 18%;
    bottom: 8%;
    font-family: "DIN", sans-serif;
}

.text p {
    color: white;
    font-size: 0.9vw;
    line-height: 90%;
    width: 20%;
    bottom: 20%;
}

.landing-text {
    position: relative;
    left: 30px;
}

#banner2 {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    z-index: 1;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    cursor: default;
    min-height: 20em;
    overflow: hidden;
    position: relative;
    text-align: center;
    font-family: "DIN", sans-serif;
}

#banner2 p {
    font-family: 'Din Light';
    color: white;
    font-size: 1.2vw;
    line-height: 90%;
}

#banner2 h1 {
    color: white;
    font-size: 5vw;
    line-height: 90%;
}

#banner2 h2 {
    font-family: "DIN Italic";
    color: white;
    font-size: 2.5vw;
    line-height: 90%;
}

#banner2 h3 {
    font-family: "DIN Regular";
    color: white;
    font-size: 1.7vw;
    line-height: 90%;
}

#banner2 img {
    -webkit-transform: scale(0.5);
}

.landing-img {
    height: 70px;
    width: 200px;
}


/* MAIN PAGE CSS */

#registration-section p,
h4 {
    text-transform: none !important;
}

#registration-section p,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: white;
}

#registration-section p {
    font-family: DIN Italic;
    font-size: 2vw
}

.blob-mobile {
    height: 50%;
}

.blob-box {
    overflow: hidden;
}

.register-btn,
a.register-btn-large {
    background-color: transparent;
    /* Green */
    /* border: white; */
    border: 1px solid white;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: "DIN";
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 20px;
}

.register-btn:hover,
a.register-btn-large:hover {
    background-color: rgba(255, 255, 255, 0.9);
    border: 2px solid white;
    padding: 10px 30px;
    color: black;
}

a.register-btn-large {
    padding: 30px 90px;
    border-radius: 40px;
}

a.register-btn-large:hover {
    padding: 30px 90px;
}

a {
    font-family: "DIN";
    color: rgba(243, 239, 239, 0.9);
}

a:hover,
a:focus {
    text-decoration: none;
    font-weight: 800 !important;
    color: rgba(255, 255, 255, 0.9);
}

.register-brand img {
    padding-top: 250px;
    width: 15%;
    display: block;
    margin: auto;
}

.register-box {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 80px;
    padding-right: 80px;
    outline: 2px solid white;
}

.register-box p {
    color: white;
    text-align: justify;
    font-size: 0.9em;
}


/* video on main page */

.video-container:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: -moz-linear-gradient(top, rgba(28, 189, 230, 0) 0%, rgba(51, 75, 214, 0.65) 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(51, 75, 214, 0.65)), color-stop(100%, rgba(0, 0, 0, 0)));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(28, 189, 230, 0) 0%, rgba(51, 75, 214, 0.65) 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(28, 189, 230, 0) 0%, rgba(51, 75, 214, 0.65) 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(28, 189, 230, 0) 0%, rgba(51, 75, 214, 0.65) 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, rgba(28, 189, 230, 0) 0%, rgba(51, 75, 214, 0.65) 100%);
    /* W3C */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000', GradientType=0);
    /* IE6-9 */
}

.video-container {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-image: url("../../images/launch/bogota.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.video-container video {
    /* Make video to at least 100% wide and tall */
    min-width: 100%;
    min-height: 100%;
    /* Setting width & height to auto prevents the browser from stretching or squishing the video */
    width: auto;
    height: auto;
    /* Center the video */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.brand {
    position: absolute;
    top: 20%;
    /* left: 50%; */
    left: 0;
    right: 0;
    font-size: 0.6em;
    z-index: 20;
}

.brand-logo {
    position: absolute;
    bottom: 10%;
    text-align: center;
    /* left: 50%; */
    left: 0;
    right: 0;
    font-size: 0.6em;
    z-index: 20;
    visibility: hidden;
}

.brand-logo img {
    width: 50%;
}

@media only screen and (max-width: 479px) {
    .brand-logo {
        visibility: visible;
    }
}

.brand2 {
    position: absolute;
    bottom: 0px;
    right: 0px;
    color: white;
}

.brand img {
    width: 25%;
    display: block;
    margin: auto;
}

.placeholder {
    background-image: url("../../images/launch/launch_background_short.png");
}

.section {
    padding: 40px 15%;
    font-size: 1em;
    /* background-color: white; */
}

.why-section {
    padding: 40px 15%;
    font-size: 1em;
    background-image: url('../../images/launch/blob_05.png');
    background-repeat: no-repeat;
    background-image: rgba(255, 255, 255, 0.5);
}

.why-section h1,
.why-section ul {
    color: white;
    display: block;
    font-family: DIN Italic;
    font-size: 4vw
}

.why-section ul {
    font-family: DIN Light;
    font-size: 1.4vw
}

.why-section h2,
h3,
h4,
h5,
h6 {
    color: white;
    font-size: 1.3vw;
    font-family: "DIN Light";
}

.why-section p {
    font-family: "DIN";
    color: white;
    font-size: 1.4vw;
}

.why-img {
    width: 35vw;
    min-height: 100%;
    padding: 10px;
    display: inline-block;
    object-fit: cover;
}

.why-map {
    width: 33vw;
    height: 23vw;
    padding: 10px;
    display: inline-block;
}

.why-section strong {
    font-family: "DIN"
}

@media only screen and (min-width: 480px) {
    .section {
        padding: 40px 15%;
        font-size: 1.4em;
    }
}

.section-header {
    font-size: 0.9em;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 20px;
}

@media only screen and (min-width: 480px) {
    .section-header {
        font-size: 1.5em;
    }
}

.section-header-light {
    font-size: 0.8em;
    font-weight: 500;
    margin-top: 30px;
    margin-bottom: 20px;
}

@media only screen and (min-width: 480px) {
    .section-header-light {
        font-size: 1.7em;
    }
}

.section-header-highlighted {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-weight: 900;
}

.section-header-page {
    border-bottom: 2px solid rgba(255, 255, 255, 0.8);
    padding-bottom: 5px;
    color: #0e1e58;
    font-family: "DIN";
}

#newsletter_section {
    padding-top: 20px;
}

#newsletter_section .section-header {
    margin-top: 0;
}

#countdown {
    margin-top: -15px;
    background-color: #efefef;
}

.blob {
    position: absolute;
    right: 0;
    width: 80%;
    bottom: 10;
}

.parallax-window.header {
    height: 300px;
    margin-top: -20px;
    background-size: cover;
    background-position: center;
    background-repeat: none;
}

.parallax-window.header2 {
    height: 500px;
    margin-top: -20px;
    background-size: cover;
    background-position: center;
    background-repeat: none;
}

.header-overlay {
    position: relative;
    height: 100%;
    opacity: 0.7;
    background: -moz-linear-gradient(top, rgba(28, 189, 230, 0) 0%, rgba(33, 218, 224, 0.65) 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(33, 218, 224, 0.65)), color-stop(100%, rgba(0, 0, 0, 0)));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(28, 189, 230, 0) 0%, rgba(33, 218, 224, 0.65) 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(28, 189, 230, 0) 0%, rgba(33, 218, 224, 0.65) 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(28, 189, 230, 0) 0%, rgba(33, 218, 224, 0.65) 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, rgba(28, 189, 230, 0) 0%, rgba(33, 218, 224, 0.65) 100%);
    /* W3C */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000', GradientType=0);
    /* IE6-9 */
}

@media only screen and (min-width: 480px) {
    .parallax-window.header {
        height: 400px;
    }
}

.parallax-text {
    padding-top: 150px;
    font-size: 40px;
    font-weight: 800;
    text-align: center;
    color: white;
    z-index: 5;
    position: relative;
}

.line {
    height: 2px;
    flex: 1;
    background: white;
    margin: 0 20px;
}

@media only screen and (min-width: 480px) {
    .parallax-text {
        font-size: 4em;
        line-height: 200px;
        z-index: 99;
    }
}

#parallax_social_media {
    background-position: top;
}

#section2 {
    width: 100%;
    height: 200px;
    position: relative;
    align-items: center;
}

@media only screen and (min-width: 480px) {
    #section2 {
        min-height: 400px;
    }
}

.brand-text {
    color: white;
    font-size: 20px;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 10px;
}

@media only screen and (min-width: 768px) {
    .brand-text {
        font-size: 25px;
    }
}

.brand-subtitle {
    display: none;
}

@media only screen and (min-width: 480px) {
    .brand-subtitle {
        display: block;
        color: white;
        font-size: 20px;
        font-weight: 500;
        font-style: italic;
        margin-top: 15px;
        margin-bottom: 40px;
    }
}

.brand-title {
    color: white;
    font-size: 20px;
    font-weight: 700;
    margin-top: 15px;
    margin-bottom: 30px;
}

@media only screen and (min-width: 480px) {
    .brand-title {
        font-size: 30px;
        margin-top: 30px;
        margin-bottom: 10px;
    }
}

.brand-highlight {
    background-color: #dd4f33;
    padding: 4px 8px;
}

.brand-button {
    background-color: transparent;
    color: white;
    border: 3px solid white;
    border-radius: 0px;
    font-size: 10px;
    padding: 5px 10px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-right: 10px;
    letter-spacing: 2px;
}

@media only screen and (min-width: 768px) {
    .brand-button {
        font-size: 15px;
        padding: 10px;
    }
}

.brand-theme {
    color: white;
    font-size: 40px;
    font-weight: 700;
    margin-top: 15px;
    margin-bottom: 15px;
}

@media only screen and (min-width: 480px) {
    .brand-theme {
        font-size: 50px;
    }
}

@media only screen and (min-width: 768px) {
    .brand-theme {
        font-size: 60px;
    }
}

.brand-button:hover {
    opacity: 0.5;
}

.partner-logo {
    /* width: 200px; */
    /* max-width: 50%; */
    height: 10vh;
    width: auto;
    margin: 2%;
    /* padding: 20px; */
    padding-left: 20px;
    padding-right: 20px;
}

.collab-vertical-center .row {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.img-container img {
    width: 100%;
    height: auto;
}

@supports(object-fit: cover) {
    .img-container img {
        height: 100%;
        object-fit: cover;
        object-position: center center;
    }
}

.partner-logo-w {
    width: 140px;
    height: auto;
    /* width: auto; */
    /* margin: 30 auto; */
    /* padding: 20px; */
    vertical-align: middle;
    /* display: inline-block; */
}

.partner-logo-h {
    height: 70px;
    width: auto;
    /* width: auto; */
    /* margin: 30 auto; */
    /* padding: 20px; */
    vertical-align: middle;
    /* display: inline-block; */
}

.partner-border {
    outline: 1px solid white;
    padding: 15px;
    margin: 5px;
    vertical-align: middle;
}

.partner-vertical-center {
    position: relative;
    top: 50%;
    transform: translateY(30%);
}

.vertical-align {
    display: flex;
    align-items: center;
}

.academic-mobile {
    font-size: 1.4vw;
}

@media only screen and (min-width: 480px) {
    .partner-logo {
        /* margin-top: 30px;
        margin-bottom: 30px; */
    }
}

.countdown-wrapper {
    color: white;
    font-size: 20px;
    font-weight: 600;
    position: relative;
    bottom: 120px;
    left: 5%;
    width: 90%;
    display: block;
}

@media only screen and (min-width: 768px) {
    .countdown-wrapper {
        font-size: 25px;
        bottom: 105px;
        right: 5%;
    }
}

.countdown-wrapper .countdown {
    margin-left: -12px;
}

.countdown {
    margin-right: 5%;
    color: white;
    font-size: 20px;
    font-weight: 600;
}

@media only screen and (min-width: 768px) {
    .countdown {
        float: right;
        bottom: 85px;
        font-size: 25px;
        margin-right: 5%;
    }
}

.timeblock {
    display: inline-block;
    float: left;
    margin-left: 12px;
    text-align: right;
}

@media only screen and (min-width: 768px) {
    .timeblock {
        margin-left: 12px;
    }
}

.time-label {
    font-size: 0.4em;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #dd4f33;
}

.fa {
    font-size: 3em !important;
    text-align: center !important;
    /*color: #0A1C3F !important;*/
    color: white;
    opacity: 0.8;
}

.fa:hover {
    opacity: 1;
}

.partner-icon {
    height: 130px;
    display: inline-block;
    margin-right: 15px;
    float: right;
    margin-top: 40px;
}

#partner-icons {
    display: none;
    right: 5%;
}

@media only screen and (min-width: 768px) {
    #partner-icons {
        display: block;
        top: 12%;
        right: 5%;
        position: absolute;
    }
}

.top-row {
    margin-top: 5%;
}

.bottom-row {
    bottom: 5%;
}


/* HEADER CSS */

.navbar a {
    font-family: "DIN Light";
}

.navbar {
    /* background: rgba(10, 28, 63, 1); */
    /* width: 100%; */
    max-width: 100%;
    background-image: url("../../images/launch/launch_background_short.png");
    background: -moz-linear-gradient(top, rgba(10, 28, 63, 1) 0%, rgb(8, 39, 47) 25%, rgba(0, 0, 0, 0) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(10, 28, 63, 1)), color-stop(25%, rgba(8, 21, 47, 1)), color-stop(100%, rgba(0, 0, 0, 0)));
    background: -webkit-linear-gradient(top, rgba(10, 28, 63, 1) 0%, rgba(8, 21, 47, 1) 25%, rgba(0, 0, 0, 0) 100%);
    background: -o-linear-gradient(top, rgba(10, 28, 63, 1) 0%, rgba(8, 21, 47, 1) 25%, rgba(0, 0, 0, 0) 100%);
    background: -ms-linear-gradient(top, rgba(10, 28, 63, 1) 0%, rgba(8, 21, 47, 1) 25%, rgba(0, 0, 0, 0) 100%);
    background: linear-gradient(to bottom, rgba(10, 28, 63, 1) 0%, rgba(8, 21, 47, 1) 25%, rgba(0, 0, 0, 0) 100%);
    /* -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 1)), to(rgba(0, 0, 0, 0)));
    -webkit-mask-image: -moz-linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 25%, rgba(0, 0, 0, 0) 100%);
    -webkit-mask-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 25%, rgba(0, 0, 0, 0) 100%);
    -webkit-mask-image: -o-linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 25%, rgba(0, 0, 0, 0) 100%);
    -webkit-mask-image: -ms-linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 25%, rgba(0, 0, 0, 0) 100%); */
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#0a1c3f', endColorstr='#000000', GradientType=0);
    border: none;
    height: 120px;
    padding: 20px;
    text-transform: uppercase;
    font-size: 1.5vw;
}

.navbar-condensed {
    background-image: url("../../images/launch/launch_background_short.png");
    /* background: rgba(10, 28, 63, 1);
    background: -moz-linear-gradient(top, rgba(10, 28, 63, 1) 0%, rgba(5, 15, 33, 0.92) 48%, rgba(3, 8, 18, 0.88) 72%, rgba(0, 0, 0, 0.8) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(10, 28, 63, 1)), color-stop(48%, rgba(5, 15, 33, 0.92)), color-stop(72%, rgba(3, 8, 18, 0.88)), color-stop(100%, rgba(0, 0, 0, 0.8)));
    background: -webkit-linear-gradient(top, rgba(10, 28, 63, 1) 0%, rgba(5, 15, 33, 0.92) 48%, rgba(3, 8, 18, 0.88) 72%, rgba(0, 0, 0, 0.8) 100%);
    background: -o-linear-gradient(top, rgba(10, 28, 63, 1) 0%, rgba(5, 15, 33, 0.92) 48%, rgba(3, 8, 18, 0.88) 72%, rgba(0, 0, 0, 0.8) 100%);
    background: -ms-linear-gradient(top, rgba(10, 28, 63, 1) 0%, rgba(5, 15, 33, 0.92) 48%, rgba(3, 8, 18, 0.88) 72%, rgba(0, 0, 0, 0.8) 100%);
    background: linear-gradient(to bottom, rgba(10, 28, 63, 1) 0%, rgba(5, 15, 33, 0.92) 48%, rgba(3, 8, 18, 0.88) 72%, rgba(0, 0, 0, 0.8) 100%); */
    -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 1)), to(rgba(0, 0, 0, 0)));
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#0a1c3f', endColorstr='#000000', GradientType=0);
    height: 90px;
}

.navbar-brand {
    padding: 0 15px;
}

#navbar-logo-right {
    /* height: 50px;
    transition: height 0.3s ease-out; */
    height: 40px;
    margin-left: auto;
    margin-right: 0;
    float: right;
}

@media only screen and (min-width: 768px) {
    #navbar-logo {
        height: 50px;
    }
}

@media (max-width: 768px) {
    .navbar-mobile {
        background-clip: padding-box;
        border-radius: 4px;
        box-shadow: rgba(0, 0, 0, 0.17) 0px 6px 12px;
        background-color: #213356;
        margin-top: 20px;
    }
}

@media only screen and (min-width: 480px) {
    .navbar-logo-small {
        height: 55px !important;
    }
}

.active {
    font-weight: 600;
    color: white !important;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus {
    color: #fff;
    font-weight: 600;
    background-color: transparent;
}

.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>li>a:hover {
    color: rgba(255, 255, 255, 0.8);
    font-weight: 600;
    background-color: transparent;
}

.navbar-default a:hover,
.navbar-default a:focus {
    /* font-size: 0.95em; */
}

.navbar-default .navbar-nav>li>a {
    color: rgba(255, 255, 255, 0.8);
    font-family: "DIN";
    letter-spacing: 0.08em;
    font-size: 0.6em;
}

@media (max-width: 960px) and (min-width: 870px) {
    .navbar-default .navbar-nav>li>a {
        font-size: 0.75em;
    }
}

@media (max-width: 870px) {
    .navbar-default .navbar-nav>li>a {
        font-size: 0.7em;
    }
}

.dropdown-menu {
    padding: 15px;
    letter-spacing: 0.08em;
    font-size: 0.6em;
    font-weight: 300;
    background-color: rgba(10, 28, 63, 1);
}

.navbar-nav>li>.dropdown-menu {
    /* width: 100%; */
    max-width: 10px;
}

.dropdown-menu a:hover,
.dropdown-menu a:focus {
    color: #fff;
    font-weight: 600;
}

@media (max-width: 767px) {
    .navbar-nav .open .dropdown-menu {
        font-size: 0.7em;
    }
}

.dropdown-divider {
    border: 1px solid #2f3f5f;
    margin: 10px -8px;
}


/* Anchors */

.anchor {
    display: block;
    height: 120px;
    /*same height as fixed .navbar */
    margin-top: -120px;
    /*same height as fixed .navbar */
    visibility: hidden;
}

.imgHeader {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.main-page-header {
    background: #efefef;
    min-height: 100vh;
    display: inline-block;
}

.main-page-header-text {
    padding-top: 50vh;
    text-align: center;
    color: white;
    padding-bottom: 50vh;
}

.main-page-title {
    font-weight: 700;
}

.main-page-Subtitle {
    font-weight: 100;
    text-transform: uppercase;
}

#main_page_quote {
    max-height: initial;
}

.quote {
    position: absolute;
    color: white;
    padding-top: 30%;
}

.img-quote {
    font-size: 1.3em;
    color: white;
    font-weight: 500;
}

.quote-name {
    color: #ccdde6;
    font-size: 1.1em;
    text-transform: uppercase;
    margin-bottom: 5px;
    font-weight: 300;
}

.quote-position {
    color: #ccdde6;
    font-size: 0.85em;
    margin-top: 0px;
    font-weight: 500;
}

@media only screen and (max-width: 1034px) {
    .img-quote {
        font-size: 1em;
        font-weight: 500;
    }
    .quote-name {
        font-size: 1em;
    }
}

.competition-img {
    width: 200px;
    height: 200px;
    margin: 20px 0px;
}

.competitions-highlights .img-square {
    width: 200px;
    height: 200px;
}

.competitions-highlights span {
    width: 100%;
    float: left;
    padding: 0px 20px;
}

.link-img {
    opacity: 0.6;
}

.link-img:focus,
.link-img:hover {
    opacity: 1;
}

.linkedin {
    max-height: 30px;
    widows: auto;
}


/*.competitions-highlights a:hover,.competitions-highlights a:focus  {*/


/*font-weight: 800;*/


/*}*/

.blob-div {
    z-index: -10;
    position: absolute;
}

.comp-center {
    text-align: center;
    max-width: 100%;
}

.comp-content p {
    color: white;
    text-align: justify;
    font-size: 0.8em;
}

.comp-content li {
    color: white;
    text-align: left;
    font-size: 0.8em;
}

.comp-content strong {
    font-family: 'DIN';
}

.comp-flow {
    width: 70%;
    height: auto;
    max-width: 70%;
    max-height: 70%;
}

.competition-type:hover,
.competition-type:focus {
    font-size: 0.95em;
}

@media only screen and (min-width: 480px) {
    .competitions-highlights p.text-small {
        font-size: 0.8em;
    }
}

.marginTop {
    margin-top: 30px;
}

.marginTop2 {
    margin-top: 60px;
}

.list-competition {
    margin-bottom: 5px;
}

.competition-slogan {
    color: #dd4f33;
    font-weight: 500;
    font-size: 1em;
}

.competition-rules {
    font-size: 0.8em;
    color: rgba(80, 101, 142, 1);
    font-style: italic;
    font-weight: 300;
}

.competition-location {
    font-size: 0.7em;
    opacity: 0.9;
}

.competition-rules-link {
    text-decoration: underline;
}

.competition-rules-link:hover {
    text-decoration: underline;
}

.header-row {
    background-color: #efefef;
    margin-bottom: 5vh;
    padding: 0px 20px 20px 20px;
}

.competition-text {
    font-size: 0.8em;
}

.date {
    color: #0e1e58;
    text-transform: uppercase;
    font-size: 1em;
    letter-spacing: 2px;
    font-weight: 700;
    margin-bottom: 30px;
}

.competition-subtitle {
    border-bottom: 2px solid rgba(100, 121, 162, 0.3);
    padding-bottom: 5px;
    color: #0e1e58;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.watchText {
    text-align: center;
}


/* SPEAKER CSS */

.speaker-picture {
    object-fit: cover;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    margin-bottom: 10px;
}

@media only screen and (max-width: 479px) {
    .speaker-picture {
        width: 100px;
        height: 100px;
    }
}

.speaker-picture-keynote {
    object-fit: cover;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.speaker-picture-association {
    width: 50px;
    height: auto;
    top: 5px;
    left: 5%;
    /* right: 10%; */
    position: absolute;
}

.speaker-picture-association-expanded {
    width: 30px;
    height: auto;
    top: 5px;
    left: 0%;
    /* right: 10%; */
    position: absolute;
}

.speaker-row,
.speaker-expanded-bio {
    margin-bottom: 40px;
    color: white;
}

@media only screen and (max-width: 479px) {
    .speaker-expanded-bio {
        font-size: 0.7em;
    }
}

.speaker {
    font-size: 0.8em;
    font-weight: 600;
    color: #515152;
}

.speaker-expanded-text {
    font-size: 1.2em;
    text-align: justify;
    text-justify: inter-word;
}

.speaker-expanded-name {
    font-weight: 500;
    margin-bottom: 5px;
    font-size: 2.0em;
    color: white;
    font-family: "DIN";
    text-transform: uppercase;
}

@media only screen and (max-width: 479px) {
    .speaker-expanded-name {
        font-size: 1.2em;
    }
}

.speaker-expanded-position {
    margin-bottom: 20px;
    color: white;
    font-weight: 400;
    text-transform: uppercase;
}

@media only screen and (max-width: 479px) {
    .speaker-expanded-position {
        font-size: 0.8em;
    }
}

.link-to-speaker {
    color: #515152;
}

.link-to-speaker:hover,
.link-to-speaker:focus {
    color: #0e1e58;
}

.endSpeakers {
    text-align: center;
    font-size: 1.5em;
    font-weight: 800;
    color: white;
}

.team-speaker {
    margin: 30;
    padding: 30;
    height: 300;
}


/****MODAL****/

.modal-backdrop.in {
    filter: alpha(opacity=7);
    opacity: 0.7;
}

.modal-dialog {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.modal-content {
    background: rgba(0, 0, 0, 0.5);
    ;
    border: 10;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin: 50px 40px 40px 40px;
    border-radius: 20px;
}

.modal-body {
    /*padding: 25px 25px 25px 25px;*/
    height: 80%;
    width: 80%;
    margin-left: 100px;
}

.modal-body2 {
    padding: 50px 40px 40px 40px;
    margin-left: 20px;
    /* margin-left: 100px;
    margin-right: 100px; */
}

@media only screen and (max-width: 479px) {
    .modal-body {
        margin-left: 10%;
    }
}

.modal-header {
    /*padding: 0px 0px 15px 15px;*/
    text-align: left;
}

.modal-header,
.modal-footer {
    border: 0;
}

.modal-header .close {
    float: none;
    margin: 0;
    font-size: 36px;
    color: #fff;
    font-weight: 300;
    text-shadow: none;
    opacity: 1;
}


/* History CSS */

.history-place {
    font-size: 0.7em;
    margin-top: 5px;
    text-transform: uppercase;
    font-weight: 700;
    color: black !important;
    opacity: 0.7;
}

.history-year {
    font-weight: 500;
    font-size: 0.7em;
    text-transform: uppercase;
    color: #515152;
    display: block;
    margin-bottom: 20px;
    opacity: 0.7;
}

.history-item {
    opacity: 0.9 !important;
}

.history-item:hover {
    opacity: 1 !important;
    font-weight: 800 !important;
}


/* TEAM CSS */

.team-picture {
    object-fit: cover;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.team-name {
    text-align: center;
    font-weight: 800;
    margin-bottom: 5px;
    font-size: 1em;
    color: white;
    font-family: "DIN";
}

.team-association,
.team-role {
    margin-bottom: 3px;
    color: rgba(255, 255, 255, 0.9);
    font-size: 0.8em;
    text-align: center;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: -0.2px;
    font-family: "DIN Regular";
}

.team-area {
    margin-bottom: 8vh;
    color: #e4e4f0;
    font-size: 0.9em;
    text-align: center;
    font-family: "DIN Regular";
}

.team-row,
.team-expanded-bio {
    margin-bottom: 30px;
    color: white;
}

.team-row h2 {
    margin-bottom: 35px;
    font-family: "DIN";
    font-size: 3vw;
}

.team {
    font-size: 0.8em;
    font-weight: 600;
}

.team-expanded-text {
    font-size: 0.7em;
    text-align: justify;
    text-justify: inter-word;
    color: rgba(255, 255, 255, 0.9);
    font-family: "DIN Regular";
}

.team-expanded-name {
    font-weight: 800;
    font-size: 1.2em;
    color: rgba(255, 255, 255, 1);
}

.team-picture-association {
    width: 30px;
    height: auto;
    top: 5px;
    left: 5px;
    position: absolute;
}

.team-expanded-association {
    margin-bottom: 15px;
    color: #a6a7ad;
}

.team-background {
    background-image: url('images/team/Team.jpg');
    /* object-position: center; */
}


/*ADVISORY BOARD*/

.advisor-intro-text {
    margin-bottom: 60px;
}

.advisor-picture {
    width: 90%;
    height: auto;
    border-radius: 50%;
    margin-bottom: 10px;
}

.advisor-name {
    text-align: center;
    font-weight: 800;
    margin-bottom: 5px;
    font-size: 1em;
    color: #515152;
}

.advisor-association,
.advisor-role {
    margin-bottom: 20px;
    color: #0e1e58;
    font-size: 0.9em;
    text-align: center;
    font-weight: 300;
}

.advisor-row,
.advisor-expanded-bio {
    margin-bottom: 40px;
    margin-top: 80px;
}

.advisor {
    font-size: 0.8em;
    font-weight: 600;
}

.advisor-expanded-text {
    font-size: 0.7em;
}

.advisor-expanded-name {
    font-weight: 800;
    font-size: 1.2em;
}

.advisor-picture-association {
    width: 30px;
    height: auto;
    top: 5px;
    left: 5px;
    position: absolute;
}

.advisor-expanded-association {
    margin-bottom: 15px;
}


/* LOCATION CSS */

.location-row {
    margin-bottom: 50px;
    margin-top: 10px;
}

.location-column {
    /*padding-right: 30px;*/
}

.location-row-hotel {
    margin-top: 50px;
}

.location-header {
    font-weight: 700;
    text-transform: uppercase;
    color: #dd4f33;
    margin-bottom: 25px;
    font-size: 0.9em;
    letter-spacing: 0.03em;
}

.location-name a {
    text-transform: uppercase;
    font-weight: 400;
    color: #0e1e58;
    letter-spacing: 0.05em;
    margin-bottom: 30px;
}

.location-address {
    margin-top: 35px;
    margin-bottom: 30px;
}

.location-address p {
    font-size: 0.8em;
    margin-bottom: 0px;
    line-height: 1.6em;
}

.location-map {
    margin-top: 20px;
}

.location-map iframe {
    width: 90%;
    height: 250px;
}

@media only screen and (min-width: 480px) {
    .location-map iframe {
        height: 450px;
    }
}


/* AGENDA CSS */

.agenda-header {
    background-color: rgba(255, 255, 255, 0.3);
    outline: 4px solid white;
    margin: 5px;
    max-height: 100px;
}

.agenda-header p {
    color: white;
    font-family: "DIN";
    font-size: 2vw;
}

.agenda-white:hover {
    outline: 1px solid black;
    margin: 1%;
    padding: 2px;
    box-shadow: 1px 1px 0px rgb(0, 0, 0), 2px 2px 0px rgb(0, 0, 0), 3px 3px 0px rgb(2, 2, 2), 4px 4px 0px rgb(0, 0, 0), 5px 5px 0px rgb(0, 0, 0), 6px 6px 0px rgb(0, 0, 0);
}

.agenda-blue {
    background-color: rgba(255, 255, 255, 0.3);
    padding: 5px;
    margin: 5px;
}

.agenda-white {
    background-color: rgba(255, 255, 255, 1);
    padding: 5px;
    margin: 5px;
}

.agenda-showcase {
    outline: 1px solid black;
    margin: 2%;
    padding: 2px;
    box-shadow: 1px 1px 0px rgb(0, 0, 0), 2px 2px 0px rgb(0, 0, 0), 3px 3px 0px rgb(2, 2, 2), 4px 4px 0px rgb(0, 0, 0), 5px 5px 0px rgb(0, 0, 0), 6px 6px 0px rgb(0, 0, 0);
}

.agenda-black {
    color: black;
    font-size: 0.7em;
}

.agenda-black:hover {
    color: black;
    font-weight: 900;
    font-size: 0.7em;
}

.agenda-time {
    color: black;
    font-style: italic;
    font-size: 0.7em;
    margin: 5%;
}


/* PANEL CSS */

.panel-header {
    max-height: 100px;
}

.panel-header h5 {
    font-size: 1.5vw;
}

.panel-header:hover h5 {
    font-size: 1.5vw;
}

.panel-content {
    padding: 20px;
    margin: 10px;
}

.panel-content h4 {
    /* text-align: justify; */
}

.panel-content h2 {
    font-size: 1.4vw;
}

.panel-top {
    /* border-top: 1px solid black;
    border-bottom: 1px solid black; */
    outline: 1px solid black;
    background-color: white;
    margin: 1%;
    padding: 2px;
    box-shadow: 1px 1px 0px rgb(0, 0, 0), 2px 2px 0px rgb(0, 0, 0), 3px 3px 0px rgb(2, 2, 2), 4px 4px 0px rgb(0, 0, 0), 5px 5px 0px rgb(0, 0, 0), 6px 6px 0px rgb(0, 0, 0);
}

.keynote-picture {
    object-fit: cover;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.panel-picture {
    object-fit: cover;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}


/* APP CSS */

.app-logo {
    object-fit: cover;
    max-width: 200px;
    max-height: 100px;
    border-radius: 10%;
    margin-bottom: 10px;
}


/* FOOTER CSS */

#footer {
    margin-top: 50px;
    /* background-color: white; */
    padding-top: 40px;
    padding-bottom: 40px;
}

#footer p {
    color: white;
    font-size: 0.8em;
}

#footer-hr {
    width: 80%;
    opacity: 0.2;
    margin: 0 auto;
    margin-top: 1%;
    margin-bottom: 1%;
}

.section-header-footer {
    color: white;
    text-align: center;
}

.subscribe {
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 0px;
}

.subscribe .form-control {
    color: rgba(255, 255, 255, 0.8);
    background-color: rgba(255, 255, 255, 0.15);
    border: 2px solid rgba(255, 255, 255, 0.6);
    border-radius: 5px;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin: 0;
}

.subscribe .form-control:hover {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid rgba(255, 255, 255, 0.6);
    border-radius: 5px;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin: 0;
}


/* General */

.btn-default {
    white-space: normal !important;
    word-wrap: break-word;
}


/* .btn,
#subscribe-button {
    border: none;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-right: 10px;
    letter-spacing: 2px;
    color: white;
    background-color: #dd4f33;
    opacity: 0.9;
}

.btn:hover,
#subscribe-button:hover {
    opacity: 1;
    font-weight: 700;
    color: white;
    background-color: #dd4f33;
    border: none;
    font-family: "DIN";
} */

.registration-closed {
    font-weight: 900 !important;
    font-family: 'DIN';
    color: #81FFA3;
}

.register-button {
    padding: 12px 16px;
    font-family: "DIN";
}

.footer-title {
    letter-spacing: 0.08em;
    font-size: 0.9em;
    text-transform: uppercase;
    color: white;
}

footer a:hover,
footer-title a:focus {
    color: #fff;
    font-weight: 600;
}

.copyright {
    text-align: center;
    color: rgba(255, 255, 255, 0.6);
    margin-top: 40px;
}

.copyright p {
    line-height: 1em;
    color: rgba(255, 255, 255, 0.6);
}


/* General */

.registration-button,
#subscribe-button {
    border: none;
    font-size: 10px;
    padding: 5px 10px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-right: 10px;
    letter-spacing: 2px;
    color: white;
    background-color: #000000;
    opacity: 0.9;
}

.registration-button:hover {
    opacity: 1;
    font-weight: 700;
    color: white;
    background-color: #000000;
    border: none;
}

@media only screen and (min-width: 768px) {
    .registration-button {
        font-size: 20px;
        padding: 10px 12px;
    }
}

.full-width {
    width: 100%;
}

.video-responsive {
    width: 100%;
    height: 200px;
}

@media only screen and (min-width: 768px) {
    .video-responsive {
        height: 450px;
    }
}

p {
    margin: 20px 0px;
}

.blue-hr {
    border: 1px solid rgba(100, 121, 162, 0.3);
    width: 100%;
}


/* FOR MOBILE */

@media only screen and (max-width: 479px) {
    .partner-logo-mobile {
        height: 50px;
        width: auto;
        margin: 30 auto;
        padding: 20px;
    }
    .logo-img {
        padding: 5%;
        text-align: center;
    }
    .logo-img img {
        height: auto;
        width: 70%;
    }
    #banner2 {
        display: -moz-flex;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        z-index: 1;
        overflow: hidden;
        position: relative;
        text-align: center;
        font-family: "DIN", sans-serif;
    }
    #banner2 div.landing-box {
        float: left;
        position: relative;
        right: 30%;
    }
    #banner2 p {
        color: white;
        font-size: 4vw;
        line-height: 90%;
    }
    #banner2 h1 {
        color: white;
        font-size: 6vw;
        line-height: 90%;
        opacity: 0;
    }
    #banner2 a {
        font-size: 4vw;
        line-height: 90%;
    }
    .blob-img {
        position: absolute;
        float: left;
        left: 30%;
        bottom: 10%;
        z-index: 2;
        width: 40%;
        font-family: "DIN", sans-serif;
    }
    .blob-img:hover img {
        opacity: 0;
        transition: all ease 0.8s;
    }
    .blob-img img {
        width: 100%;
        z-index: 5;
        position: relative;
        /* top: -100px;
        right: 80px; */
    }
    .text {
        width: 30%;
        position: absolute;
        left: 40%;
        bottom: 10%;
        font-family: "DIN", sans-serif;
    }
    .text p {
        color: white;
        font-size: 2.5vw;
        line-height: 90%;
        width: 50%;
        bottom: 20%;
    }
    #banner2 h1 {
        color: white;
        font-size: 5vw;
        line-height: 90%;
    }
    #banner2 h2 {
        font-family: "DIN Italic";
        color: white;
        font-size: 5vw;
        line-height: 90%;
    }
    #banner2 h3 {
        font-family: "DIN Regular";
        color: white;
        font-size: 1.7vw;
        line-height: 90%;
    }
    #banner2 img {
        -webkit-transform: scale(0.5);
    }
    .brand {
        position: absolute;
        top: 20%;
        /* left: 50%; */
        left: 0;
        right: 0;
        font-size: 0.6em;
        z-index: 20;
    }
    .brand img {
        width: 60%;
        display: block;
        margin: auto;
    }
    .main-page-header {
        background: #efefef;
        min-height: 100vh;
        display: inline-block;
    }
    .register-btn {
        background-color: white;
        /* Green */
        border: none;
        color: black;
        padding: 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-family: "DIN";
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 12px;
    }
    .register-btn:hover {
        background-color: none;
        color: white;
        border: 2px white;
    }
    a.register-btn-large {
        padding: 10px 30px;
        border-radius: 20px;
        width: 250px;
    }
    a.register-btn-large:hover {
        background-color: rgba(255, 255, 255, 0.9);
        border: 2px solid white;
        padding: 10px 30px;
        color: black;
    }
    .video-container video {
        visibility: hidden;
    }
    .video-container {
        background-image: url("../../images/launch/bogota.png");
        display: inline-block
    }
    .partner-logo {
        /* width: 200px; */
        height: 80px;
        width: auto;
        margin: 30 auto;
        padding: 20px;
        /* padding-left: 20px;
        padding-right: 20px; */
    }
    .why-section h1,
    .why-section ul {
        font-size: 10vw
    }
    .why-section ul {
        font-family: DIN Light;
        font-size: 4vw
    }
    .why-section h2,
    h3,
    h4,
    h5,
    h6 {
        color: white;
        font-size: 4vw;
        font-family: "DIN Light";
    }
    .why-section p {
        font-family: "DIN";
        color: white;
        font-size: 4vw;
    }
    .why-img {
        width: 50vw;
        height: 40vw;
        padding: 10px;
        display: inline-block;
    }
    .why-map {
        width: 50vw;
        height: 40vw;
        padding: 10px;
        display: inline-block;
    }
    #registration-section p {
        color: white;
        font-family: DIN Italic;
        font-size: 10vw
    }
    #footer p {
        color: white;
        font-size: 2vw;
    }
    #navbar-logo-right {
        display: none;
    }
    .navbar li {
        font-family: "Din";
        font-size: 5vw;
    }
    .brand2 {
        display: none;
    }
    .comp-content h2 {
        font-size: 1.4em;
    }
    .comp-content h1 {
        font-size: 1.6em;
    }
    .register-box {
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 50px;
        padding-right: 50px;
        outline: 2px solid white;
    }
    .blob-mobile {
        height: 40%;
    }
    .blob-box {
        overflow: hidden;
    }
    .academic-mobile {
        font-size: 4vw;
    }
    .panel-header h5 {
        font-size: 2.5vw;
    }
    .panel-content h2 {
        font-size: 3.5vw;
    }
}

#navbar-logo {
    height: 8vh;
    padding: 10px;
    padding-top: 0px;
    transition: height 0.3s ease-out;
}

.white {
    color: white;
}

.white>p>a {
    color: white;
    text-decoration: underline;
    font-weight: 900;
}

.white>p>a:hover {
    opacity: 0.8;
    text-decoration: none;
}